In [36]:
import warnings
warnings.filterwarnings(action='ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline

# Importing the Data

In [37]:
data = pd.read_csv('Carseats.csv')

In [38]:
display(data.head()), data.shape

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

(None, (400, 11))

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
Sales          400 non-null float64
CompPrice      400 non-null int64
Income         400 non-null int64
Advertising    400 non-null int64
Population     400 non-null int64
Price          400 non-null int64
ShelveLoc      400 non-null object
Age            400 non-null int64
Education      400 non-null int64
Urban          400 non-null object
US             400 non-null object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

# Preprocessing`

In [40]:
df = data.copy()

In [41]:
# Identify and drop our target variable 'Sales' from dataframe, isolating our independent variables
X = df.drop('Sales', axis = 1)

# Isolate our dependent variable as a feature
y = df.Sales

In [42]:
# Train Test Split (70/30 size), drop duplicates and missing values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 33)

X_train.drop_duplicates(inplace = True)
X_train.dropna(inplace = True)

# Numeric Data

In [43]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 11 to 20
Data columns (total 10 columns):
CompPrice      280 non-null int64
Income         280 non-null int64
Advertising    280 non-null int64
Population     280 non-null int64
Price          280 non-null int64
ShelveLoc      280 non-null object
Age            280 non-null int64
Education      280 non-null int64
Urban          280 non-null object
US             280 non-null object
dtypes: int64(7), object(3)
memory usage: 24.1+ KB

In [45]:
# Select all data excluding 'object' to isolate numeric data
X_train_numeric = X_train.select_dtypes(exclude = 'object')

# Set numeric dataframe columns
X_numeric_cols = X_train_numeric.columns
X_train_numeric.columns = X_numeric_cols

In [47]:
X_train_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 11 to 20
Data columns (total 7 columns):
CompPrice      280 non-null int64
Income         280 non-null int64
Advertising    280 non-null int64
Population     280 non-null int64
Price          280 non-null int64
Age            280 non-null int64
Education      280 non-null int64
dtypes: int64(7)
memory usage: 17.5 KB

In [49]:
X_train_numeric.head()

     CompPrice  Income  Advertising  Population  Price  Age  Education
11         117      94            4         503     94   50         13
214        115     115            3          48    107   73         18
361        131      25           10         183    104   56         15
98         122      77           24         382    127   36         16
358        123      96           10          71    118   69         11

In [ ]:
# Perform standard scaling on our numeric data

from sklearn.preprocessing import StandardScaler
from scipy import stats